/* Establecer la imagen de fondo y ajustar los estilos */
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fondogalaxia.jpg'); /* Usar url() para especificar la ruta de la imagen de fondo */
    background-size: cover; /* Cubrir toda la ventana del navegador */
    background-position: center center; /* Centrar la imagen de fondo */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen de fondo */
}

.general_title {
    color: azure;
}

.note {
    color: azure;
}

.simular{
    height: 400px;
    background-image: url(../images/montañas.png);
}

.balon {
    width: 70px;
    height: 70px;
    background-image: url(../images/meteoro.png);
    background-size: cover;
    border-radius: 50%;
    position: fixed;
}

