/* Establecer la imagen de fondo y ajustar los estilos */
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fondogalaxia.jpg'); /* Usar url() para especificar la ruta de la imagen de fondo */
    background-size: cover; /* Cubrir toda la ventana del navegador */
    background-position: center center; /* Centrar la imagen de fondo */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen de fondo */
}

.general_title {
    color: azure;
}

.note {
    color: azure;
}

.simular{
    height: 400px;
    background-image: url(../images/montañas.png);
}

.balon {
    width: 70px;
    height: 70px;
    background-image: url(../images/meteoro.png);
    background-size: cover;
    border-radius: 50%;
    position: fixed;
}

/* Ajustar el tamaño de las imágenes del carrusel y centrar horizontalmente */
.carousel-item img {
    max-width: 100%; /* Ajustar el ancho máximo para evitar el estiramiento */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
}

.custom-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    padding: 10px; /* Espacio alrededor del contenido */
    border-radius: 5px; /* Bordes redondeados */
    max-width: 60%; /* Ancho máximo para evitar que se extienda demasiado */
    margin: 20px auto 0; /* Centrar horizontalmente y agregar margen superior (0px) e inferior (20px) */
    color: white; /* Color del texto */
}

/* Estilo para el botón "Planeta personalizado" en la parte superior derecha */
.custom-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999; /* Asegura que el botón esté en la parte superior */
  }

